<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-qcloud"
  version="0.0.1">

  <name>QCloud</name>
  <description>Cordova QCloud Plugin</description>
  <license>MIT</license>
  <keywords>cordova,QCloud</keywords>
  <repo>https://github.com/giantss/cordova-plugin-qcloud</repo>
  <issue>https://github.com/giantss/cordova-plugin-qcloud/issues</issue>

  <preference name="QCLOUD_APP_ID" />

  <!--require cordova version -->
  <engines>
    <engine name="cordova" version=">=4.0.0" />
     <engine name="cordova-android" version=">=4.0.0" />
  </engines>

  <!-- js module-->
  <js-module src="www/QCloud.js" name="QCloud">
    <clobbers target="QCloud" />
  </js-module>

   <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
        <feature name="QCloud">
         <param name="ios-package" value="QCloud"/>
       </feature>
        <!--whitelist for QCloud SDK-->
      <access origin = "http://console.qcloud.com//*"/>
       <preference name="QCLOUD_APP_ID" value="$QCLOUD_APP_ID" />
     </config-file>

    <!--set ios URLTypes for QQ SDK -->
   <config-file target="*-Info.plist" parent="CFBundleURLTypes">
      <array>
        <dict>
          <key>CFBundleTypeRole</key>
          <string>Editor</string>
          <key>CFBundleURLName</key>
          <string>qcloud</string>
          <key>CFBundleURLSchemes</key>
          <array>
            <string>tencent$QCLOUD_APP_ID</string>
          </array>
        </dict>
      </array>
    </config-file>
  
    <!--allow non-HTTPS traffic -->
    <config-file platform="ios" target="*-Info.plist" parent="NSAppTransportSecurity">
       <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
      </dict>
    </config-file>
    <!--scheme query whitlist-->
    <config-file platform="ios" target="*-Info.plist" parent="LSApplicationQueriesSchemes">
        <array>
            <string>qcloud</string>   
        </array>
    </config-file>
    <header-file src="src/ios/QCloud.h"/>
    <source-file src="src/ios/QCloud.m"/>
    <!--required frameworks for qcloud sdk-->
    <framework src="CoreTelephony.framework" />
    <framework src="SystemConfiguration.framework" />
    <framework src="libstdc++.6.dylib" />
    <!--qcloud SDK version 2.9.3-->
    <framework src="src/ios/TencentOpenAPI.framework" custom="true" framework="true"/>
    <resource-file src="src/ios/TencentOpenApi_IOS_Bundle.bundle" />


    <info>
      安装完插件，请用XCode打开工程，查看URL Types里面QCloud的URL type有没有，如果没有请手动添加.after installing this plugin,check the URL Types in your Xcode project.If you don't find URL Types for qqsdk，manually add it.
    </info>
  </platform>

  <!-- android -->
  <platform name="android">
    <!-- <hook type="before_plugin_install" src="scripts/android/android-hook.js" /> -->
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="QCloud" >
        <param name="android-package" value="org.bike.giantss.QCloud"/>
      </feature>
      <!--whitelist for QCloud SDK-->
      <access origin = "http://console.qcloud.com//*"/>
      <preference name="QCLOUD_APP_ID" value="$QCLOUD_APP_ID" />
    </config-file>
  <!--permission for QQ SDK -->
  <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
      <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
      <uses-permission android:name="android.permission.WAKE_LOCK"/>
      <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
      <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    </config-file>
  <!--QQ webview Auth Activity -->
  <config-file target="AndroidManifest.xml" parent="/manifest/application">
   <activity
         android:name="com.tencent.tauth.AuthActivity"
         android:noHistory="true"
         android:launchMode="singleTask" >
      <intent-filter>
             <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.DEFAULT" />
          <category android:name="android.intent.category.BROWSABLE" />
             <data android:scheme="tencent$QCLOUD_APP_ID"/>
      </intent-filter>
   </activity>
    <activity
      android:name="com.tencent.connect.common.AssistActivity"
      android:configChanges="orientation|keyboardHidden"
      android:screenOrientation="portrait"
      android:theme="@android:style/Theme.Translucent.NoTitleBar" >
    </activity>
  </config-file>
  <source-file src="src/android/QCloud.java" target-dir="src/org.bike.giantss" />
  <!--QQ SDK version 1.1.4.1-->
  <source-file src="src/android/download_1.1.4.1_6006.jar" target-dir="libs/" />
  <source-file src="src/android/upload_1.1.4.1_6016.jar" target-dir="libs/" />
  <source-file src="src/android/wup-1.0.0-SNAPSHOT.jar" target-dir="libs/" />

      <source-file src="src/android/libs/armeabi/libnetworkbase.so" target-dir="libs/armeabi/" />
      <source-file src="src/android/libs/armeabi/libuploadnetwork.so" target-dir="libs/armeabi/" />

      <source-file src="src/android/libs/armeabi-v7a/libnetworkbase.so" target-dir="libs/armeabi-v7a/" />
      <source-file src="src/android/libs/armeabi-v7a/libuploadnetwork.so" target-dir="libs/armeabi-v7a/" />

      <source-file src="src/android/libs/arm64-v8a/libnetworkbase.so" target-dir="libs/arm64-v8a/" />
      <source-file src="src/android/libs/arm64-v8a/libuploadnetwork.so" target-dir="libs/arm64-v8a/" />

      <source-file src="src/android/libs/mips/libnetworkbase.so" target-dir="libs/mips/" />
      <source-file src="src/android/libs/mips/libuploadnetwork.so" target-dir="libs/mips/" />

      <source-file src="src/android/libs/mips64/libnetworkbase.so" target-dir="libs/mips64/" />
      <source-file src="src/android/libs/mips64/libuploadnetwork.so" target-dir="libs/mips64/" />

      <source-file src="src/android/libs/x86/libnetworkbase.so" target-dir="libs/x86/" />
      <source-file src="src/android/libs/x86/libuploadnetwork.so" target-dir="libs/x86/" />

      <source-file src="src/android/libs/x86_64/libnetworkbase.so" target-dir="libs/x86_64/" />
      <source-file src="src/android/libs/x86_64/libuploadnetwork.so" target-dir="libs/x86_64/" />
  </platform>
</plugin>
